@font-face {
    font-family: "miwon";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/miwon/miwon.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/miwon/miwon.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/miwon/miwon.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/miwon/miwon.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/miwon/miwon.ttf") format("truetype");
    font-display: swap;
}
.miwon {
    font-family: "miwon";
}
